# dictionary
    - create
    - access
    - change
    - method

In [3]:
# data = [33,100,'sunny',6,'lucknow']
data = { 
    'temp' : 33 ,
    'humidity' : 100 ,
    'weather' : 'sunny' 
     , 'wind' : 6 ,
    'location': 'lucknow'
}
print(data)

{'temp': 33, 'humidity': 100, 'weather': 'sunny', 'wind': 6, 'location': 'lucknow'}

In [4]:
students = {
    'name':['mahak', 'natasha','aditya','yusuf'],
    'academic_lvl':['btech','bca','bba','Bcom']
}
students

{'name': ['mahak', 'natasha', 'aditya', 'yusuf'],
 'academic_lvl': ['btech', 'bca', 'bba', 'Bcom']}

In [8]:
# nested dictionary
products={
    'fruits' :
      [
        { 'name' :'apple', 'qty' : 10 } ,
        { 'name' :'banana', 'qty' : 50 } ,
        { 'name' :'cherry', 'qty' : 25 } ],
    'vegitables' : [
        { 'name' :'potato', 'qty' : 100 },
        { 'name' :'tomato', 'qty' : 50 },
        { 'name' :'onion', 'qty' : 50 },]
    
}
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25}],
 'vegitables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}]}

In [12]:
products['fruits']

[{'name': 'apple', 'qty': 10},
 {'name': 'banana', 'qty': 50},
 {'name': 'cherry', 'qty': 25}]

In [17]:
products['fruits'][0] #indexing we can do..

{'name': 'apple', 'qty': 10}

In [18]:
products['fruits'][2]['name'] #indexing we can do..

'cherry'

In [19]:
products['fruits'][:2] #indexing we can do..

[{'name': 'apple', 'qty': 10}, {'name': 'banana', 'qty': 50}]

In [20]:
data['temp'] =20
data['weather'] ='thunderstrom'

In [21]:
data['website'] ='thunder' # data adding

In [23]:
orange= {'name' : 'orange' ,'qty' :45}
products['fruits'].append(orange)
products

{'fruits': [{'name': 'apple', 'qty': 10},
  {'name': 'banana', 'qty': 50},
  {'name': 'cherry', 'qty': 25},
  {'name': 'orange', 'qty': 45},
  {'name': 'orange', 'qty': 45}],
 'vegitables': [{'name': 'potato', 'qty': 100},
  {'name': 'tomato', 'qty': 50},
  {'name': 'onion', 'qty': 50}]}

- METHODS
    - keys()
    - value()
    - items()
    - get()
    - update()
    - pop()

In [24]:
list(data.keys())

['temp', 'humidity', 'weather', 'wind', 'location', 'website']

In [25]:
list(data.values())

[20, 100, 'thunderstrom', 6, 'lucknow', 'thunder']

In [26]:
list(data.items())

[('temp', 20),
 ('humidity', 100),
 ('weather', 'thunderstrom'),
 ('wind', 6),
 ('location', 'lucknow'),
 ('website', 'thunder')]

list(data.keys())

In [27]:
for i in data: # only keys
    print(i)

temp
humidity
weather
wind
location
website

In [28]:
for i in data.items(): # 
    print(i)

('temp', 20)
('humidity', 100)
('weather', 'thunderstrom')
('wind', 6)
('location', 'lucknow')
('website', 'thunder')

In [29]:
for k,v in data.items():
    print(k, ':' , v)

temp : 20
humidity : 100
weather : thunderstrom
wind : 6
location : lucknow
website : thunder

In [30]:
for key in data:
    print(key,data[key])

temp 20
humidity 100
weather thunderstrom
wind 6
location lucknow
website thunder

In [31]:
x= {
    'apple':'pie',
    'orange': 'jam',
    'pineapple' :'juice'
}

y= {'potato ':'fries'}

In [32]:
x.update(y)
print(x)
print(y)

{'apple': 'pie', 'orange': 'jam', 'pineapple': 'juice', 'potato ': 'fries'}
{'potato ': 'fries'}

In [36]:
print(x.get('apple'))
print(x.get('apples')) # invalid key : none
print(x.get('apples,','NOT FOUND'))

pie
None
NOT FOUND

In [37]:
inp=input('ENTER THE ITEM NAME')
print(x.get('apples,','NOT FOUND'))

NOT FOUND