ASSIGNMENT 11/08/2023

OPERATORS

1 OUTPUT OF THE FOLLOWING CODE

In [1]:
x=4
y=5
z=x<y
print(z)

True

2 output of the following code snippet.

In [3]:
x="hello"
y="world"
z=x+y
print(z)

helloworld

3 operator is used for checking if a value is not in a sequence in python.

not in

4 program to prompt the user to enter a number, assign it to a variable, and print it to the console.

In [6]:
z=int(input("ENTER ANY NUMBER"))
print(z)

45

5 demonstrate the use of type () function to check the data type of a variable.

In [7]:
type(z)

int

6 program to find out the cube of 29.

In [8]:
print(29**3)

24389

7 program to perform logical operations using "and","or", and "not" operators.

In [10]:
a=5
print(a<5 and a==5)
print(a<5 or a==5)
print(not(a<5 and a==5))

False
True
True

8. program to perform identity operations

In [ ]:
x="Akash"
y="Akash"
z="5"
print(x is y)
print(x is not z)

9. logical operator for AND in python.

    and

10. output of the following code.

In [11]:
x=5
x*=3
print(x)

15

DATA TYPES

SyntaxError: unterminated triple-quoted string literal (detected at line 1) (2830712366.py, line 1)