In [1]:
name="akash"
age=23

In [3]:
name# raw o/p

'akash'

In [4]:
print("your name is", name)
print('you are',age, 'years old')

your name is akash
you are 23 years old

In [5]:
print('Amaan','kratagya','Ayush','Nishant',sep="\n")

Amaan
kratagya
Ayush
Nishant

In [1]:
print('Amaan','kratagya','Ayush','Nishant',sep=" or ")

Amaan or kratagya or Ayush or Nishant

In [2]:
print(1, end=" ")
print(2)
print(3)

1 2
3

### f string= formated string literals

In [3]:
x=5
y=10
z=20
print(x,'+',y,'=',x+y)

5 + 10 = 15

In [4]:
print(f'{x}+{y}={x+y}')

5+10=15

In [6]:
p1='Natasha'
p2='Mahak'
print(f'{p1} has {len(p1)} chars')
print(f'{p2} has {len(p2)} chars')

Natasha has 7 chars
Mahak has 5 chars

In [7]:
p1='Natasha'
p2='Mahak'
print(f'{p1} = {len(p1)} chars')
print(f'{p2} = {len(p2)} chars')

Natasha = 7 chars
Mahak = 5 chars

In [8]:
p1='Natasha'
p2='Mahak'
print(f'{p1:10} = {len(p1)} chars')
print(f'{p2:10} = {len(p2)} chars')

Natasha    = 7 chars
Mahak      = 5 chars

In [9]:
p1='Natasha'
p2='Mahak'
print(f'{p1:>10} = {len(p1)} chars')
print(f'{p2:>10} = {len(p2)} chars')

   Natasha = 7 chars
     Mahak = 5 chars

In [10]:
p1='Natasha'
p2='Mahak'
print(f'{p1:^10} = {len(p1)} chars')
print(f'{p2:^10} = {len(p2)} chars')

 Natasha   = 7 chars
  Mahak    = 5 chars

In [11]:
pi=22/7
print(f'the value of pi is {pi}')
print(f'the value of pi is {pi:.2f}')
print(f'the value of pi is {pi:.4f}')
print(".ðŸ˜Ž") #win + .

the value of pi is 3.142857142857143
the value of pi is 3.14
the value of pi is 3.1429

In [13]:
city=input("Which city do you live in?")
city

'lucknow'

# type casting

In [15]:
a = 10
print(type(a))
a=bool(a)
print(a)

<class 'int'>
True

In [17]:
a='1000001'
print(a, int(a))

1000001 1000001

In [16]:
pi= int(pi)
print(pi,type(pi))
pi=float(pi)
print(pi, type(pi))

3 <class 'int'>
3.0 <class 'float'>

In [19]:
pi= int(pi)
print(pi,type(pi))
pi=float(pi)
print(pi, type(pi:.5f))

SyntaxError: invalid decimal literal (1464913585.py, line 4)

In [18]:
a=int(input('enter a:'))
b=int(input('enter b:'))
print(a**b)

225