## loops
### - for `step based loop`
        #### - repeating a step a number of times
        #### - enumeration
        #### - tarversing iterable
### - while `condition based loop`

In [1]:
range(1, 20) # generator function

range(1, 20)

``for var in iterable``
    ``statement``

In [3]:
for item in range(10):
    print(item, end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
for item in range(-10,10):
    print(item, end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [5]:
for item in range(-10,11):
    print(item, end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [6]:
for item in range(-10,11,2):
    print(item, end=' ')

-10 -8 -6 -4 -2 0 2 4 6 8 10

In [7]:
for i in range(15,0,-1):
    print(i, end=" ")

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [8]:
for i in range(2,101,2):
     print(i ,end= " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# '_' garbage variable

In [9]:
for _ in range(5):
     print('hello')

hello
hello
hello
hello
hello

## traversing variable

In [12]:
name = "Albert Silvador"
words = ['hi' ,'hello', 'aloha','hola']#list
colors= ('red','blue','green') # tuple
numbers = {1,2,3,4,5,6,7,8,9}#set

In [13]:
for char in name:
    print(char, end=' ')
for word in words:
    print(word,end=' ')
for c in colors:
    print(c,end=' ')
for n in numbers:
    print(n,end=' ')

A l b e r t   S i l v a d o r hi hello aloha hola red blue green 1 2 3 4 5 6 7 8 9

## enumerate

In [14]:
names= ['Harsh','nishant','aman','kratagya','natasha','mahak','akash','krishna']
for value in enumerate(names):
     print(value)

(0, 'Harsh')
(1, 'nishant')
(2, 'aman')
(3, 'kratagya')
(4, 'natasha')
(5, 'mahak')
(6, 'akash')
(7, 'krishna')

In [15]:
names= ['Harsh','nishant','aman','kratagya','natasha','mahak','akash','krishna']
for idx,val in enumerate(names):
     print(idx, val)

0 Harsh
1 nishant
2 aman
3 kratagya
4 natasha
5 mahak
6 akash
7 krishna

#zipping

In [20]:
surname=['srivastav','shukla','raza', 'jaiswal','singh','kanujia' ,'singhal','gupta','agarwal']
for fname, lname in zip(names, surname):
     print(fname,lname)

Harsh srivastav
nishant shukla
aman raza
kratagya jaiswal
natasha singh
mahak kanujia
akash singhal
krishna gupta

# break and continue

In [ ]:
x=[1,2,3,0,4,5,0,6,0,6,7]
for i in x:
    if i==0:
        continue
    print(i,end=' ')

In [21]:
x=[1,2,3,0,4,5,0,6,0,6,7]
for i in x:
    if i==0:
        break
    print(i,end=' ')

1 2 3

# for else

In [22]:
x = []
for i in x:
    print(i, end=' ')

In [26]:
for i in range(5):
    name = input('enter name of person')
    if name:
        print(f'hello {name}')
    else:
        break
else:
     print('well done')

for i in range(5):

# while loop

In [27]:
n=0
while n<100:
    print(n)
    n+=10

0
10
20
30
40
50
60
70
80
90

# infinite while loop

In [28]:
while True:
    num= int(input('enter a nummber greater than 100'))
    if num>100:
        print(f'{num} ✔')
    else:
       print(f'{num}')
       break

456 ✔
582 ✔
45

In [1]:
ex="asdfg"
i= len(ex)-1
while i>=0:
    print(ex[i],end="")
    i-=1

gfdsa

In [3]:
print(ex[::-1])

gfdsa

print(ex[::1])