# conditions
 - if condition
 - if else condition
 - if elif else ladder
 - nested conditions
  match case
# conditional operator and logical operator
   `> < >= <= == !=`
   `and or not`

In [2]:
x=-10
if x>5:
    print('yes')
    print('hello')
print('end')

end

In [1]:
p=int(input('enter principal value'))
r=int(input('enter rate value'))
t=int(input('enter time value'))
print(f'simple interest={p*r*t/100}')

simple interest=20.0

In [3]:
p=int(input('enter principal value'))
t=int(input('enter time value'))
if p >=15000:
    r=3
else:
    r=4
print(f'simple interest={p*r*t/100}')

simple interest=900.0

In [5]:
x=100# multiple if condition
if x>20:
    print(x,'is greater than 20')
if x>-20:
    print(x,'is greater than 20')

100 is greater than 20
100 is greater than 20

# if elif (related conditions) (conditional ladder)

In [6]:
a,b=2,5
if a+b>10:
    print(a+b,' is greater than 10')
elif a+b>5:
    print(a+b,' is greater than 10')
elif a+b>0:
    print(a+b,' is greater than 10')

7  is greater than 10

wap to cal total salary of employee based on following conditions
- BS is gt 25000, hra =30% of Bs, da = 95% of bs
- BS is gt 20000, hra =30% of Bs, da = 90% of bs
- BS is gt 15000, hra =30% of Bs, da = 85% of bs

In [12]:
bs= int(input("enter your basic salary"))
if bs > 25000:
    print(f'total salary = {bs*(1+.3+.95)}')
elif bs > 20000:
    print(f'total salary = {bs*(1+.25+.9)}')
elif bs > 15000:
    print(f'total salary = {bs*(1+.2+.85)}')
else:
     print(f'total salary = {bs}')

total salary = 53750.0

# match case

In [13]:
name= input("enter your name")
match (name):
    case 'ajay':
        print('welcome mr. ajay')
    case 'vijay' | 'anuj':
        print('welcome are the caterers')

    case 'rahul':
        print('welcome you are the manager')
    case 'ashish':
        print('welcome you are not allowed')
    case _:
        print("I Don't know you")

welcome mr. ajay

# nested condition

In [16]:
username = input('enter the username:')
password = input('enter the password:')

if len(username)>0:
    if len(password)>0:
        if username=='akash':
            if password == 'admin':
                print('welcome akash ðŸ˜Ž')
            else:
                print('invalid passworrd')
        else:
            print('invalid username')
    else:
        print('password is required')
else:
        print('username is required')

welcome akash ðŸ˜Ž

# ternary conditional operator

In [17]:
name= input('enter your name')
print('name is too big' if len(name)>10 else "name ok")

name ok

In [18]:
x=10
'even' if x % 2 == 0 else 'odd'

'even'

## LEAP YEAR
- YEAR IS DIVISIBLE BY 4 LEAP YEAR BUT IF
    - YEAR IS ` DIVISIBLE BY 100 BUT NOT DIVISIBLE BY 400 ` THAN THE LEAP YEAR IS SKIPPED AND IT WILL BE ` NON LEAP YEAR `

In [18]:
year= int(input('enter the year to check leap year'))
if year % 4 ==0:
    if year % 100 == 0 and year % 400 !=0:
        pass
    else:
        print('this year is a leap year =',year)
else:
    print('This year is not a leap year', year)

# leap years

In [16]:
a,b = int(input('enter the starting  year')),int(input('enter ending year range '))
print(a,'to',b ,'leap years')

for year in range(a,b):
    if year % 4 ==0:
        if year % 100 == 0 and year % 400 !=0:
          print(end='')
            
        else:
            print(year,end='\n')

2000 to 2050 leap years
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048