- indexing
- slicing
- method
- operation

In [2]:
name= "shakespeare"
print(name[0])
print(name[-1])
print(name[-11])

s
e
s

# slicing

In [10]:
name= 'Vijay Deenanath Chauhan'
print(len(name))
print(name[0:2+3])
print(name[0:-1])# moves always left to right
print(name[::-1])# reverse

23
Vijay
Vijay Deenanath Chauha
nahuahC htananeeD yajiV

In [8]:
n='William Shakespeare'
print(n[:7])
print(n[8:13])
print(n[14:-1])
print(n[13:-1])
print(n[3:7])
print(n[16:])

William
Shake
pear
spear
liam
are

# methods string
   - formating methods
        -upper()
        -lower()
        -capitalize()
   - validation
        -isupper()
        -islower()
        -endswith()
   - utility
        - replace()
        - find()
        - count()

In [9]:
name.upper()

'VIJAY DEENANATH CHAUHAN'

In [18]:
n="AbC SRT d"
print(name)
print(name.lower())
print(name.upper())
print(name.capitalize())
print(name.title())
print(name.swapcase())
print(n.casefold())# same as lowercase

Vijay Deenanath Chauhan
vijay deenanath chauhan
VIJAY DEENANATH CHAUHAN
Vijay deenanath chauhan
Vijay Deenanath Chauhan
vIJAY dEENANATH cHAUHAN
abc srt dfgsfb

In [14]:
x= 10
y= 15.15
z= x*y
print("{}*{}={}".format(x,y,z))

10*15.15=151.5

In [37]:
a = input('enter any string')
b='with'
print(f'upper : {a.isupper()}')
print(f'lower : {a.islower()}')
print(f'endswith : {a.startswith(b)}')

upper : False
lower : True
endswith : True

In [34]:
num = input('enter a number :')
if num.isnumeric():
    num = int(num)
    print('very good')
else:
  print('enter number only')

very good

In [16]:
x= "ashksdl sdfkdj"
print(x.startswith('as'))

True

In [21]:
files = ['song.mp3','song2.mp3','thumb.png']
for i in files:
     if(i.endswith('mp3')==True):
          print(i)

song.mp3
song2.mp3